@model NHRIDB.Models.ViewModels.DiagnosisCreateModel
@{
    ViewBag.Title = Model.type.Equals("Create")? "新增診斷": "修改診斷";
}

@using (Html.BeginForm(Model.type, "Diagnosis", FormMethod.Post))
{

    @Html.AntiForgeryToken()
<div class="text-danger">
    @Html.ValidationSummary()
    
    @Html.HiddenFor(e => e.type)
</div>

<div class="formPanel">


    <label>編號</label>
    @if (Model.type.Equals("Create"))
    {
        @Html.TextBoxFor(e => e.dKey, new { @class = "form-control" })
    }
    else
    {
        <span>@Model.dKey</span>
        @Html.HiddenFor(e => e.dKey)
    }


    <label>英文名稱</label>
    @Html.TextBoxFor(e => e.name_en, new { @class = "form-control" })


    <label>中文名稱</label>
    @Html.TextBoxFor(e => e.name_tw, new { @class = "form-control" })


</div>
<div>
    @Form.CheckBoxList("checks", Model.rList)
</div>
    <a class="btn" href="@Url.Action("Index", "Diagnosis")">取消</a>
    <button class="btn" type="submit">儲存</button>
}
