@model NHRIDB.Models.ViewModels.BarViewModel
@{
    ViewBag.Title = "總結數量";
}
<style>
    td {
        border: solid 1px #fff;
    }

    th {
        border: solid 1px #ccc;
    }
</style>
 
 
<label>醫院：</label>
@if (Model.leapProject)
{
    @Html.DropDownList("hosId", Model.hospitalSelect as IEnumerable<SelectListItem>, "全部")
}
else
{
    @Model.selfHos.name_tw
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                部位名稱
            </th>
            <th>
                診斷名稱
            </th>
            @foreach (var column in Model.columns)
            {
                <th>@column.DisplayName</th>
            }

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.datas.Count; i++)
        {
            var item = Model.datas[i];
        <tr>
            <td>
                @item.rName
            </td>
            <td>
                @item.dName
            </td>
            @foreach (var column in Model.columns)
            {

                var value = item.GetType().GetProperty(column.Name).GetValue(item);


                <td>
                    @value

                </td>



            }
        </tr>
        }
    </tbody>
</table>
 
<script>
    $("#hosId").on("change", function (e) {
        window.location = "@Url.Action("Index")?hosId=" + $(this).val();
    });
   
</script>
