@model  NHRIDB.Models.ViewModels.PlanCreate

@{
    ViewBag.Title = "新增代號";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Plan", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="text-danger">
        @Html.ValidationSummary()
    </div>
    <div class="formPanel">
        @Html.LabelFor(e => e.planKey)
        @Html.TextBoxFor(e => e.planKey, new { @class = "form-control" })
        @Html.LabelFor(e => e.planName)
        @Html.TextBoxFor(e => e.planName, new { @class = "form-control" })
        @Html.LabelFor(e => e.Remark)
        @Html.TextBoxFor(e => e.Remark, new { @class = "form-control" })
    </div>

    <a class="btn" href="@Url.Action("Index")">放棄</a>
    <button class="btn" type="submit">儲存</button>
}

