@model NHRIDB.Models.ViewModels.HospitalViewModel

@{
    ViewBag.Title = "醫院清單";

  string[][] Columns = { new string[] { "中文名稱", "name_tw" }
                         , new string[] { "英文名稱", "name_en" }
                         };
}


    @using (Html.BeginForm("Index", "Hospital", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="formPanel">
        <label>醫院中文/英文</label>
        @Html.TextBoxFor(e => e.searchText)

        <button class="btn" type="submit">查詢</button>
    </div>
    }
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        @Form.AddUrl(true, Url.Action("Detail"))
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    @Form.OrderByColumns(Columns, this)
                    <th>編輯</th>
                </tr>
            </thead>

           
                @foreach (var item in Model.items)
                {
                        <tr>
                            <td>
                                @item.name_tw
                            </td>
                            <td>
                                @item.name_en
                            </td>
                            <td>
                                <i class="btnDel fa fa-trash-o" data-id="@item.id">
                                </i>
                                @Form.EditUrl(true, Url.Action("Detail", "Hospital", new { id = item.id }))
                            </td>
                        </tr>
                }
            
        </table>
    </div>
</div>

@Form.DeleteDialog(true, "btnDel", Url.Action("Delete"))

@Form.pageDiv(Url.Action("Index"),Model.pageNumber,Model.pageEnd)