@model NHRIDB.Models.ViewModels.ImportViewModel
@{
    ViewBag.Title = "上傳檢體";
}

    <div class="msg">
        @*@Model.msg*@
        @{
            string[] StrArry = Model.msg.Replace("\r\n", ";").Split(';');

            for (int i = 0; i < StrArry.Length; i++)
            {
                <label>@StrArry[i]</label><br />
            }
            if (Model.dataErr != null && Model.dataErr.Rows.Count > 0)
            {
                TempData["dataErr"] = Model;
                <script nonce="cm1vaw==">
            $(function () {
                let result = new Promise((resolve) => {
                    resolve(window.location.href = "@Url.Action("ExportDataFromDataTable")");
                }).then((data) => {
                        setTimeout(() => {
                            window.location.href = "@Url.Action("Index")";
                        }, 3000);
                });
            });
                </script>
            }
        }
        <script nonce="cm1vaw==">

            function _btn_sure() {

                $(".loading").css("visibility", "visible");
            }

        </script>

    </div>

<label style="color:red">下載範本最後更新時間: @Model.templateTime</label>
<br />
<a href="~/Template/@Model.template" target="_blank">下載範本</a>

<form action="@Url.Action("Index")" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    @if(Model.dataErr == null)
    {
        if (bool.Parse(Session["leapProject"].ToString()))
        {
            <label>醫院：</label>
            @Html.DropDownList("hosId", Model.hospitalSelect as IEnumerable<SelectListItem>)
        }
        else
        {
            @Html.Hidden("hosId", Session["hos"])
        }
    }
    <input type="file" id="upload" name="upload" accept=".xlsx,.csv">
    <input type="hidden" id="id" name="id" />
    <button class="btn sure" type="submit" onclick="_btn_sure();">確認上傳</button>

</form>



