@model  NHRIDB.Models.ViewModels.ProjectSetViewModel
@{
    ViewBag.Title = "設定時間";
}

 
@if (!ViewBag.CanEdit)
{
     @Model.startDate.Value.ToString("yyyy-MM-dd")
    <span>~</span>
     @Model.endDate.Value.ToString("yyyy-MM-dd")
}
else
{
    using (Html.BeginForm("Index", "ProjectSet", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="text-danger">
            @Html.ValidationSummary()

        </div>

        <div class="formPanel">
            @Html.LabelFor(e => e.startDate)
            @if (Model.startDate.HasValue)
            {
                <input type="date" name="startDate" value="@Model.startDate.Value.ToString("yyyy-MM-dd")" />
            }
            else
            {
                <input type="date" name="startDate" />
            }

            @Html.LabelFor(e => e.endDate)
            @if (Model.endDate.HasValue)
            {
                <input type="date" name="endDate" value="@Model.endDate.Value.ToString("yyyy-MM-dd")" />
            }
            else
            {
                <input type="date" name="endDate" />
            }

            @Html.LabelFor(e => e.regex)
            @Html.TextBoxFor(e => e.regex, new { @class = "form-control" })
            @Html.LabelFor(e => e.regexMsg)
            @Html.TextBoxFor(e => e.regexMsg, new { @class = "form-control" })

            @Html.LabelFor(e => e.errorOutCount)
            @Html.TextBoxFor(e => e.errorOutCount, new { @class = "form-control", @type = "num" })
        </div>


        <button class="btn" type="submit">儲存</button>
    }
}





